
<div id="my-container" style="width: 640px; height: 480px; border: solid 1px red">
  <div id="my-chart"></div>
</div>


<script>
var chart = c3.generate({
  bindto: '#my-chart',
  data: {
    columns: [
      ['data1', 30, 200, 100, 400, 150, 250]
    ]
  }
});
</script>