
<div id="my-container" style="width: 640px; height: 480px; border: solid 1px red">
  <div id="my-chart"></div>
</div>

<script>
var chart = c3.generate({
  bindto: '#my-chart',
  data: {
    columns: [
         <%== ["weight"] + @weights %>
    ]
  }
});
</script>